

*{
    box-sizing: border-box;
}
 
body {

    background-color: rgb(48, 46, 46);
}

h1 { 

    color: white;
    text-align: center;
}

.center {

    display: block;
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
    
    

    
     
    
}

.topright {
 position: absolute;
 top: 20px;
 right: 50px;
 font-size: 13px;
 font-family: sans-serif;
 word-spacing: 13px;
 margin-top: 2px;


}

.topright2 {
    position: absolute;
    top: 20px;
    right: 16px;
    font-size: 13px;
    font-family: sans-serif;
    
    
   
   }

a {
    color: white;
    text-decoration: none;
}

.topleft {
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: 13px;
    font-family: sans-serif;
    word-spacing: 13px;

}

.topnav {
    position: absolute;
    top: 380px;
    left: 790px;
    border-radius: 15px ;
    outline-style: solid;
    outline-color: grey;
    background-color: gray;
    padding: 10px;
    width: 350px;
    height: 20px;
    
}

.magnifyingglass {
    position: absolute;
    top: 380px;
    left: 790px;
    mix-blend-mode: multiply ;
}

.keyboard {

    position: absolute;
    top: 380px;
    left: 1055px;
    mix-blend-mode: multiply;
   
}
.microphone {
    position: absolute;
    top: 380px;
    left: 1095px;
    mix-blend-mode: multiply;
}

.camera {
    position: absolute;
    top: 380px;
    left: 1110px;
    mix-blend-mode: multiply;

}

.searchbox1{
    position: absolute;
    top: 420px;
    left: 840px;
    border-radius: 15px ;
    outline-style: solid;
    outline-color: grey;
    background-color: gray;
    padding: 2px;
    width: 113px;
    height: 20px;
    font-family: sans-serif;
    text-align: center;
    font-size: small;

}

.searchbox2{
    position: absolute;
    top: 420px;
    left: 980px;
    border-radius: 15px ;
    outline-style: solid;
    outline-color: grey;
    background-color: gray;
    padding: 2px;
    width: 113px;
    height: 20px;
    font-family: sans-serif;
    text-align: center;
    font-size: small;

}

.digitaltools{
    position: absolute;
    top: 450px;
    left: 810px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: smaller;

}


.footerbox1{

    position: absolute;
    top: 830px;
    left: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: solid;
    outline-width: 1px;
    background-color: rgb(32, 32, 32);
    padding: 2px;
    width: 1920px;
    height: 40px;
    font-family: sans-serif;
    font-size: small;
    


}

.footerbox2{

    position: absolute;
    top: 870px;
    left: 0px;
    outline-style: solid;
    outline-color: white;
    outline-width: 1px;
    background-color: rgb(32, 32, 32);
    padding: 2px;
    width: 1920px;
    height: 40px;
    font-family: sans-serif;
    font-size: small;

}

.environment{
    position: absolute;
    top: 883px;
    left: 770px;
    mix-blend-mode:lighten
    


}