

*{
    box-sizing: border-box;
}
 
body {

    background-color: rgb(48, 46, 46);
}

h1 { 

    color: white;
    text-align: center;
}

.center {

    display: block;
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
    
    

    
     
    
}

.topright {
 position: absolute;
 top: 20px;
 right: 50px;
 font-size: 13px;
 font-family: sans-serif;
 word-spacing: 13px;
 margin-top: 2px;


}

.topright2 {
    position: absolute;
    top: 20px;
    right: 16px;
    font-size: 13px;
    font-family: sans-serif;
    
    
   
   }

a {
    color: white;
    text-decoration: none;
}

.topleft {
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: 13px;
    font-family: sans-serif;
    word-spacing: 13px;

}

.topnav {
    position: absolute;
    top: 380px;
    left: 790px;
    border-radius: 15px ;
    outline-style: solid;
    outline-color: grey;
    background-color: gray;
    padding: 10px;
    width: 350px;
    height: 20px;
    
}

.magnifyingglass {
    position: absolute;
    top: 380px;
    left: 790px;
    mix-blend-mode: multiply ;
}

.keyboard {

    position: absolute;
    top: 380px;
    left: 1050px;
    mix-blend-mode: multiply;
   
}
.microphone {
    position: absolute;
    top: 380px;
    left: 1095px;
    mix-blend-mode: multiply;
}

.camera {
    position: absolute;
    top: 380px;
    left: 1110px;
    mix-blend-mode: multiply;

}


